---
import { getCollection } from 'astro:content';
import Layout from '@layouts/DefaultLayout.astro';
import ContentCard from '@components/ContentCard.astro';
import Section from '@components/Section.astro';

const allBlogPosts = await getCollection('blog');
const allResearchPosts = await getCollection('research');
---

<style>

.section-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 1rem; /* Adjust as needed */
}

@media screen 
and (max-device-width: 768px)
{
    /* make sure you center! */
    .section-grid {
        justify-items: center;
    }
}

</style>

<Layout
    title='Home'
    pageTitle='Gregory | Home'
    description="Hello! 👋 I'm Gregory Croisdale, a PhD Student at the University of Michigan studying Human-Computer Interaction with Anhong Guo and Xu Wang"
>
    <main id="main">
        <section class='section' id='about'>
            Hello! 👋 I'm Gregory Croisdale, a PhD Student at the University of Michigan studying Human-Computer Interaction with <a target="_blank" href="https://guoanhong.com/">Anhong Guo</a> and <a target="_blank" href="https://web.eecs.umich.edu/~xwanghci/">Xu Wang</a>.
        </section>
        
        <hr/>
        
        <Section class='section' id='blog'>
            <h1>Blog</h1>
            <div class='section-grid'>
                {allBlogPosts.map((post) => (
                    <ContentCard post={post} />
                    <ContentCard post={post} />
                    <ContentCard post={post} />
                    <ContentCard post={post} />
                    <ContentCard post={post} />
                    <ContentCard post={post} />
                    <ContentCard post={post} />
                    <ContentCard post={post} />
                    <ContentCard post={post} />
                    <ContentCard post={post} />
                ))}
            </div>
        </Section>

        <hr/>

        <Section class='section' id='research'>
            <h1>Research</h1>
            <div class='section-grid'>
                {allResearchPosts.map((post) => (
                    <ContentCard post={post} />
                ))}
            </div>
        </Section>
    </main>
</Layout>