---
import type { CollectionEntry } from 'astro:content';

interface Props {
	post: CollectionEntry<"blog"> | CollectionEntry<"research">;
}

const { post }: Props = Astro.props;
const link = (post.data.link == "") ? `${post.collection}/${post.slug}` : post.data.link;
---

<style>
.content-card {
    aspect-ratio: 1 / 1; /* This will keep the item as a square */
    display: block;

    border-radius: 12px;
    padding: 12px;
    max-width: 400px;
    max-height: 400px;

    text-decoration: none;

    background: var(--red-color);
}

.content-card:hover {
    filter: brightness(1.1);
}

.card-desc, .card-desc > h2 {
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;
    padding: 0;
}

hr {
    margin: 0.5em 0.5em;
}
</style>

<a
    href={link}

    target={post.data.newTab ? "_blank" : undefined}
    rel={post.data.newTab ? "noopener noreferrer" : undefined}

    class="content-card shadow hovshadow"
>
    <span class="card-desc">
        <h2>{post.data.title}</h2>
        {post.data.date}
        <hr/>
        {post.data.description}
        <br/>
    </span>
</a>